VITE_API_URL=http://localhost:3000
VITE_GOOGLE_CLIENT_ID=811380353688-b7ijdh09bj0asj3jibaegejdq9n6vod2.apps.googleusercontent.com
VITE_FIREBASE_API_KEY="AIzaSyDFQjtSZLB_gN2hDwisF9lg_LoqzLiG6lI"
VITE_FIREBASE_AUTH_DOMAIN="th-payroll-management.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="th-payroll-management"
VITE_FIREBASE_STORAGE_BUCKET= "th-payroll-management.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="811380353688"
VITE_FIREBASE_APP_ID="1:811380353688:web:6b835aa501589653917eed"
